body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  zoom: 80%;
}

header {
  color: #fff;
  padding: 5px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* Tentukan jarak antara kotak dengan elemen lain */
  padding: 0 20px; /* Tentukan jarak antara konten dan tepi kotak */
}

.container h1 {
  margin: 0;
  font-size: 25px;
  display: inline-block;
  color: #030303;
}

.datetime {
  float: right;
  font-size: 16px;
  color: #000000;
  margin-top: 5px;
}

/* content */

.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 30px;
}

.card {
  border: 1px solid #ccc;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 40px;
  height: auto;
  margin-right: 10px;
}

.section-item {
  margin: 20px 15px;
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); */
  /* min-height: 200px; */
  overflow: hidden;
  /* padding: 20px 30px 20px 20px; */
  border-radius: 25px;
}

/* .vertikal {
  border-left: 1px black solid;
  height: 7rem;
  width: 0px;
  margin-left: 30px;
} */

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolom dengan lebar yang sama */
  gap: 5px; /* Jarak antar gambar */
}

.image-item {
  position: relative;
  overflow: hidden;
}

.image-item img {
  max-width: 85%;
  height: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
.col {
  width: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
